@use '../styles/constants/' as *;

body {
  // background: rgb(221, 217, 217) url('../images/skull-logo.svg') no-repeat fixed center;
    background-color: rgb(221, 217, 217)
}

.image-reader {
  &--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
  }

  &-header {
    display: flex;
    justify-content: center;
    color: blue;

    &-text {
      color: blue;
    }
  }
}
